@model IEnumerable<MyFirstMVC.Models.Phone>


@{
    ViewData["Title"] = "Phone";
}

<h2>Телефоны</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)

        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name

            </td>
            <td>
                $ @item.Price <br> ₽ @(item.Price * ViewBag.RateRub)<br> ⊆ @(item.Price * ViewBag.RateKgs)
                <br> € @(item.Price * ViewBag.RateEur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Download" asp-route-id="@item.Id">Скачать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Info" asp-route-id="@item.Id">Сайт производителя</a>
            </td>
        </tr>
    }
    </tbody>
</table>